<section class="section">
  <div class="container box">
    <div class="title is-size-1"><%= I18n.t('users.edit_page_title') %></div>
    <%= render(Users::FormComponent.new(object: object)) %>
  </div>
</section>
