<div class="source-page edit-page form-page">
    <div class="page-header row">
        <div class="buttons">
            <%= back_button sources_path %>
        </div>
        <header class="with-shadow">
            <h1><%= I18n.t( 'sources.edit_page_title' ) %></h1>
        </header>
    </div>
    <%= render 'form' %>
</div>

