<div class="source-page index-page">
    <div class="page-header row">
        <header class="with-shadow">
            <h1><%= I18n.t( 'sources.index_page_title' ) %></h1>
        </header>
    </div>
    <% if can? :create, Source %>
      <div class="buttons">
          <%= new_button new_source_path, I18n.t( 'sources.new_button' ) %>
      </div>
    <% end %>
    <div class="with-shadow">
        <% if @sources.blank? %>
          No entry
        <% else %>
          <% @sources.each do |source| %>
            <%= render 'row', source: source %>
          <% end %>
        <% end %>
    </div>
</div>

