<%= t('recipes.last_import_recipe_url', url: url) unless url.nil? %>

<%= form_with url: book_import_recipe_index_path(book), method: :post do |f| %>
  <%= f.url_field :url, { required: true } %>
  <hr/>
  <div class="buttons is-centered">
    <%= f.submit nil, { class: css_book_color } %>
  </div>
<% end %>

