<div class="dish_type-page new-page form-page">
  <div class="page-header">
    <%= back_button dish_types_path %>
    <h1><%= I18n.t( 'dish_types.new_page_title' ) %></h1>
  </div>
  <%= render 'form' %>
</div>
