<div class="<%= css_class %>">
  <% if left %>
    <div class="media-left"><%= left %></div>
  <% end %>
  <% if body %>
    <div class="media-content"><%= body %></div>
  <% end %>
  <% if right %>
    <div class="media-right"><%= right %></div>
  <% end %>
</div>