<div class="field is-horizontal">
  <% if has_label %>
    <%= render(FormInputs::LabelComponent, form: form, method: method.to_sym, resource: resource, is_required: is_required, text: label_text, options: label_options) %>
  <% end %>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= render(FormFields::EmailComponent, form: form, method: method.to_sym, resource: resource, is_required: is_required, is_disabled: is_disabled, options: options) %>
      </div>
    </div>
  </div>
</div>