<div class="field-label">
  <%= render(FormFields::LabelComponent, form: form, method: method.to_sym, resource: resource, is_required: is_required, text: text, options: options) if has_label %>
</div>