<div class="container-fluid">
  <div class="box">
    <%= render(Recipes::ViewComponent.new(objects: recipes)) %>
    <%= link_to I18n.t('homepage.show_all_recipes'), recipes_path, class: "button is-#{book.color} is-fullwidth has-margin-top-15" %>
  </div>
</div>