<section class="section">
  <div class="container box">
    <div class="title is-size-1"><%= I18n.t( 'categories.edit_page_title' ) %></div>
    <%= render(Categories::FormComponent.new(object: object)) %>
  </div>
</section>
