<%= render Application::Components::CardComponent.new do |component| %>

  <% component.header() do %>
    <p class="card-header-title"><%= link_to object, object, class: css_book_color %></p>
  <% end %>

  <% component.image() do %>
    <% unless object.picture.blank? %>
      <%= link_to object do %>
        <figure class="image">
          <%= image_tag object.picture.url(:medium), class: "media-object" %>
        </figure>
      <% end %>
    <% end %>
  <% end %>

<% end %>