<div class="column is-full">
  <div class="box">
    <p>
      <span class="subtitle is-6"><%= object.book %></span> /
      <span class="subtitle is-5"><%= object.categorization %></span> /
      <span class="title is-4"><%= link_to object, object, class: css_book_color %></span>
    </p>
  </div>
</div>