<% if objects.blank? %>
  <%= t('application.no_entry') %>
<% else %>
  <div class="columns is-multiline">
    <% objects.each do |item| %>
      <%= render(Categories::List::ItemComponent.new(object: item)) %>
    <% end %>
  </div>
<% end %>
