<div class="recipe-page new-page form-page">
  <div class="page-header">
    <%= back_button recipes_path %>
    <h1><%= I18n.t( 'recipes.new_page_title' ) %></h1>
  </div>

  <%= render 'form' %>
</div>