<div class="card">
  <% if header %>
    <div class="card-header"><%= header %></div>
  <% end %>
  <% if image %>
    <div class="card-image"><%= image %></div>
  <% end %>
  <% if body %>
    <div class="card-content"><%= body %></div>
  <% end %>
  <% if footer %>
    <div class="card-footer"><%= footer %></div>
  <% end %>
</div>