<%= t('recipes.last_import_recipe_url', url: url) unless url.nil? %>

<%= form_with url: book_import_recipe_index_path(book), method: :post do |f| %>
  <%= render(Application::FormEntry::UrlComponent.new(
      form: f,
      method: :url,
      resource: nil,
      options: {required: true}
  )) %>
  <hr/>
  <div class="buttons is-centered">
    <%= render(Application::FormEntry::SubmitComponent.new(
        form: f,
        resource: nil,
        field_html_options: {
            class: css_book_color
        }
    )) %>
  </div>
<% end %>

