<% if items.blank? %>
  <%= t('application.no_entry') %>
<% else %>
  <div class="columns is-multiline">
    <% items.each do |item| %>
      <%= render(Recipes::ListItem.new(item: item)) %>
    <% end %>
  </div>
<% end %>
