<div class="field is-horizontal">
  <% if has_label %>
    <%= render(Bulma::Form::Label::Entry.new(
        form: form,
        method: method.to_sym,
        resource: resource,
        options: options,
        html_options: label_html_options
    )) %>
  <% end %>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= content %>
      </div>
    </div>
  </div>
</div>