<section class="section">
  <div class="container box">
    <div class="title is-size-1"><%= I18n.t( 'homepage.welcome' ) %></div>
    <%= render(Recipes::List.new(items: @recipes)) %>
    <%= link_to I18n.t( 'homepage.show_all_recipes' ), recipes_path, class: 'button is-primary is-fullwidth has-margin-top-15'%>
  </div>
</section>