<h1><%= I18n.t( 'homepage.welcome' ) %></h1>

<h2><%= I18n.t( 'homepage.lastest_10_recipes' ) %></h2>
<% if !@recipes.blank? %>
  <div class="recipe-page index-page">
      <% @recipes.each do |recipe| %>
        <%= render 'recipes/row', recipe: recipe %>
        <hr />
      <%  end %>
  </div>
<% end %>