<div class="field-label">
  <%= render(Bulma::Form::Label::FieldComponent,
             form: form,
             method: method.to_sym,
             resource: resource,
             options: options,
             html_options: html_options,
      ) if has_label %>
</div>