<a href="<%= url %>" title="<%= name %>" class="button  is-green is-light">
  <% if icon %>
    <span class="icon is-small"><%= render(Elements::FontAwesomeIconComponent, icon: 'plus') %></span>
  <% end %>
  <span><%= name %></span>
</a>