<% unless note === 0 %>
  <div class="tags has-addons">
    <% (1..note).each do |i| %>
      <span class="tag is-link" title="<%= t(Recipe.difficulty_types.invert[i], scope: 'recipes') %>"><i class="fa fa-graduation-cap"></i></span>
    <% end %>
    <% (note + 1..5).each do |i| %>
      <span class="tag is-light" title="<%= t(Recipe.difficulty_types.invert[i], scope: 'recipes') %>"><i class="fa fa-graduation-cap"></i></span>
    <% end %>
  </div>
<% end %>