<div class="navbar-item has-dropdown is-hoverable">
  <a href="#" class="navbar-link"><%= t('menu.admin') %></a>
  <div class="navbar-dropdown">
    <% if can? :read, Category %>
      <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.categories'), path: categories_path)) %>
    <% end %>
    <% if can? :manage, User %>
      <%= render(MainMenu::NavbarItemComponent.new(title: t('menu.users'), path: users_path)) %>
    <% end %>
  </div>
</div>