<% if user_signed_in? %>
  <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <%= render(MainMenu::BrandComponent.new()) %>
      <div id="main-navbar-menu" class="navbar-menu">
        <%= render(MainMenu::MainNavbarComponent.new()) %>
        <%= render(MainMenu::UserNavbarComponent.new()) %>
      </div>
    </div>
  </nav>
<% end %>