<%= link_to path, class: css_class do %>
  <% unless icon.nil? %>
    <span class="icon"><%= render Application::Elements::FontAwesomeIconComponent.new(icon: icon) %></span>
  <% end %>
  <span><%= title %></span>
<% end %>