<div class="menu p-4">
  <%= render MainMenu::SideMenu::BookCookingMenuComponent.new %>
  <%= render MainMenu::SideMenu::BookHealthwellnessMenuComponent.new %>
  <%= render MainMenu::SideMenu::BookHouseMenuComponent.new %>
  <%= render MainMenu::SideMenu::AdminMenuComponent.new %>
</div>