<div class="<%= singular_table_name %>-page new-page form-page">
  <div class="page-header">
    <%%= link_to <%= index_helper %>_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%%= I18n.t( 'application.back' ) %>
    <%% end %>
    <h1><%%= I18n.t( '<%= plural_table_name %>.new_page_title' ) %></h1>
  </div>

  <%%= render 'form' %>
</div>
