<div class="container-fluid">
  <div class="columns is-desktop">
    <div class="column is-four-fifths-desktop">
      <div class="box">
        <%= render(Recipes::FormParts::FormComponent.new(object: object, part: part)) %>
      </div>
    </div>
    <div class="column is-one-fifth-desktop">
      <div class="box">
        <%= render(Recipes::Parts::NavigationComponent.new(object: object, part: part)) %>
      </div>
    </div>
  </div>
</div>