<% if items.blank? %>
  <%= t('application.no_entry') %>
<% else %>
  <div class="container is-widescreen">
    <div class="columns is-multiline">
      <% items.each do |item| %>
        <%= render(Users::ListItemComponent, item: item) %>
      <% end %>
    </div>
  </div>
<% end %>
