@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Responsiveness

$tablet: 768px

// Custom colors

$deep-yellow: hsl(40, 100%, 50%)
$deep-yellow-invert: findColorInvert($deep-yellow)
$deep-yellow-light: findLightColor($deep-yellow)
$deep-yellow-dark: findDarkColor($deep-yellow)
$custom-colors: ("deep-yellow": ($deep-yellow, $deep-yellow-invert, $deep-yellow-light, $deep-yellow-dark))

$deep-orange: hsl(14, 100%, 57%)
$deep-orange-invert: findColorInvert($deep-orange)
$deep-orange-light: findLightColor($deep-orange)
$deep-orange-dark: findDarkColor($deep-orange)
$custom-colors: mergeColorMaps($custom-colors, ("deep-orange": ($deep-orange, $deep-orange-invert, $deep-orange-light, $deep-orange-dark)))

$pink: hsl(336, 87%, 54%)
$pink-invert: findColorInvert($pink)
$pink-light: findLightColor($pink)
$pink-dark: findDarkColor($pink)
$custom-colors: mergeColorMaps($custom-colors, ("pink": ($pink, $pink-invert, $pink-light, $pink-dark)))

$deep-purple: hsl(262, 52%, 47%)
$deep-purple-invert: findColorInvert($deep-purple)
$deep-purple-light: findLightColor($deep-purple)
$deep-purple-dark: findDarkColor($deep-purple)
$custom-colors: mergeColorMaps($custom-colors, ("deep-purple": ($deep-purple, $deep-purple-invert, $deep-purple-light, $deep-purple-dark)))

$indigo: hsl(231, 48%, 48%)
$indigo-invert: findColorInvert($indigo)
$indigo-light: findLightColor($indigo)
$indigo-dark: findDarkColor($indigo)
$custom-colors: mergeColorMaps($custom-colors, ("indigo": ($indigo, $indigo-invert, $indigo-light, $indigo-dark)))

$light-blue: hsl(199, 98%, 48%)
$light-blue-invert: findColorInvert($light-blue)
$light-blue-light: findLightColor($light-blue)
$light-blue-dark: findDarkColor($light-blue)
$custom-colors: mergeColorMaps($custom-colors, ("light-blue": ($light-blue, $light-blue-invert, $light-blue-light, $light-blue-dark)))

$teal: hsl(162, 73%, 46%)
$teal-invert: findColorInvert($teal)
$teal-light: findLightColor($teal)
$teal-dark: findDarkColor($teal)
$custom-colors: mergeColorMaps($custom-colors, ("teal": ($teal, $teal-invert, $teal-light, $teal-dark)))

$light-green: hsl(145, 63%, 49%)
$light-green-invert: findColorInvert($light-green)
$light-green-light: findLightColor($light-green)
$light-green-dark: findDarkColor($light-green)
$custom-colors: mergeColorMaps($custom-colors, ("light-green": ($light-green, $light-green-invert, $light-green-light, $light-green-dark)))

$brown: hsl(16, 25%, 38%)
$brown-invert: findColorInvert($brown)
$brown-light: findLightColor($brown)
$brown-dark: findDarkColor($brown)
$custom-colors: mergeColorMaps($custom-colors, ("brown": ($brown, $brown-invert, $brown-light, $brown-dark)))

$charcoal: hsl(0, 2%, 22%)
$charcoal-invert: findColorInvert($charcoal)
$charcoal-light: findLightColor($charcoal)
$charcoal-dark: findDarkColor($charcoal)
$custom-colors: mergeColorMaps($custom-colors, ("charcoal": ($charcoal, $charcoal-invert, $charcoal-light, $charcoal-dark)))

$gray-dark: hsl(15, 10%, 23%)
$gray-dark-invert: findColorInvert($gray-dark)
$gray-dark-light: findLightColor($gray-dark)
$gray-dark-dark: findDarkColor($gray-dark)
$custom-colors: mergeColorMaps($custom-colors, ("gray-dark": ($gray-dark, $gray-dark-invert, $gray-dark-light, $gray-dark-dark)))

$asphalt: hsl(210, 29%, 29%)
$asphalt-invert: findColorInvert($asphalt)
$asphalt-light: findLightColor($asphalt)
$asphalt-dark: findDarkColor($asphalt)
$custom-colors: mergeColorMaps($custom-colors, ("asphalt": ($asphalt, $asphalt-invert, $asphalt-light, $asphalt-dark)))

$gray: hsl(18, 9%, 70%)
$gray-invert: findColorInvert($gray)
$gray-light: findLightColor($gray)
$gray-dark: findDarkColor($gray)
$custom-colors: mergeColorMaps($custom-colors, ("gray": ($gray, $gray-invert, $gray-light, $gray-dark)))

$secondary: hsl(304, 69%, 14%)
$secondary-invert: findColorInvert($secondary)
$secondary-light: findLightColor($secondary)
$secondary-dark: findDarkColor($secondary)
$custom-colors: mergeColorMaps($custom-colors, ("secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark)))

$accent: hsl(120, 51%, 40%)
$accent-invert: findColorInvert($accent)
$accent-light: findLightColor($accent)
$accent-dark: findDarkColor($accent)
$custom-colors: mergeColorMaps($custom-colors, ("accent": ($accent, $accent-invert, $accent-light, $accent-dark)))

$default: hsl(221, 100%, 7%)
$default-invert: findColorInvert($default)
$default-light: findLightColor($default)
$default-dark: findDarkColor($default)
$custom-colors: mergeColorMaps($custom-colors, ("default": ($default, $default-invert, $default-light, $default-dark)))

$alert: $red
$alert-invert: findColorInvert($alert)
$alert-light: findLightColor($alert)
$alert-dark: findDarkColor($alert)
$custom-colors: mergeColorMaps($custom-colors, ("alert": ($alert, $alert-invert, $alert-light, $alert-dark)))

$notice: $blue
$notice-invert: findColorInvert($notice)
$notice-light: findLightColor($notice)
$notice-dark: findDarkColor($notice)
$custom-colors: mergeColorMaps($custom-colors, ("notice": ($notice, $notice-invert, $notice-light, $notice-dark)))

// Overrided colors

$orange: hsl(27, 98%, 54%)
$orange-invert: findColorInvert($orange)
$orange-light: findLightColor($orange)
$orange-dark: findDarkColor($orange)
$custom-colors: mergeColorMaps($custom-colors, ("orange": ($orange, $orange-invert, $orange-light, $orange-dark)))

$yellow: hsl(45, 100%, 51%)
$yellow-invert: findColorInvert($yellow)
$yellow-light: findLightColor($yellow)
$yellow-dark: findDarkColor($yellow)
$custom-colors: mergeColorMaps($custom-colors, ("yellow": ($yellow, $yellow-invert, $yellow-light, $yellow-dark)))

$green: hsl(134, 61%, 41%)
$green-invert: findColorInvert($green)
$green-light: findLightColor($green)
$green-dark: findDarkColor($green)
$custom-colors: mergeColorMaps($custom-colors, ("green": ($green, $green-invert, $green-light, $green-dark)))

$turquoise: hsl(171, 100%, 41%)
$turquoise-invert: findColorInvert($turquoise)
$turquoise-light: findLightColor($turquoise)
$turquoise-dark: findDarkColor($turquoise)
$custom-colors: mergeColorMaps($custom-colors, ("turquoise": ($turquoise, $turquoise-invert, $turquoise-light, $turquoise-dark)))

$cyan: hsl(204, 71%,  53%)
$cyan-invert: findColorInvert($cyan)
$cyan-light: findLightColor($cyan)
$cyan-dark: findDarkColor($cyan)
$custom-colors: mergeColorMaps($custom-colors, ("cyan": ($cyan, $cyan-invert, $cyan-light, $cyan-dark)))

$blue: hsl(211, 100%, 50%)
$blue-invert: findColorInvert($blue)
$blue-light: findLightColor($blue)
$blue-dark: findDarkColor($blue)
$custom-colors: mergeColorMaps($custom-colors, ("blue": ($blue, $blue-invert, $blue-light, $blue-dark)))

$purple: hsl(283, 39%, 53%)
$purple-invert: findColorInvert($purple)
$purple-light: findLightColor($purple)
$purple-dark: findDarkColor($purple)
$custom-colors: mergeColorMaps($custom-colors, ("purple": ($purple, $purple-invert, $purple-light, $purple-dark)))

$red: hsl(354, 70%, 54%)
$red-invert: findColorInvert($red)
$red-light: findLightColor($red)
$red-dark: findDarkColor($red)
$custom-colors: mergeColorMaps($custom-colors, ("red": ($red, $red-invert, $red-light, $red-dark)))

$body-background-color: hsl(90, 6%, 94%)
$primary: $orange
$link: $deep-orange
$title-color: $primary
$subtitle-color: $grey
