.recipe-page.index-page {
    .left-col-container {
        background-color: #EEE;
        padding: 15px;
        input {
            margin-bottom: 10px
        }
    }
    h2 {
        margin-top: 0;
    }
    .ingredients {
        > ul {
            padding: 0;
        }
        ul {
            list-style-type: square;
        }
        li {
            display: inline-block;
        }
        li:before {
            content: " - ";
        }
    }
}

