@import "bootstrap/variables";

.recipe-page {
    .description, .rating {
        margin-top: 15px;
    }
}
.recipe-page.index-page {
    /*    .left-col-container {
            background-color: #EEE;
            padding: 15px;
            input {
                margin-bottom: 10px
            }
        }*/
    h2 {
        margin-top: 0;
    }
    .categorization {
        float: left;
        width: 75%;
        padding: 15px;
    }
    .rating {
        float: left;
        width: 25%;
    }
    .ingredients {
        float: left;
        width: 75%;
        padding: 15px;
        > ul {
            padding: 0;
        }
        ul {
            list-style-type: square;
        }
        li {
            display: inline-block;
        }
        li:before {
            content: " - ";
        }
    }
    .times {
        float: left;
        width: 25%;
    }
    .recipe-filters {
        margin-bottom: 20px;
        h3 {
            font-family: 'Sansation-Bold', Arial, sans-serif;
            font-weight: normal;
            font-size: 1em;
            text-transform: uppercase;
            margin: 0 0 10px 0;
            background: #df0018;
            padding: 10px 5px;
            color: #FFF;
            text-align: center;
        }
        form {
            margin-bottom: 10px;
        }
        .btn {
            margin-right: 5px;
        }
    }
    .active-filters {
        margin-bottom: 5px;
    }
}
.recipe-page.show-page {
    .row {
        margin-bottom: 20px;
    }
    .icon {
        padding-right: 15px;
        float: left;
        width: 10%;
        i {
            font-size: 400%;
        }
    }
    .content {
        float: left;
        width: 90%
    }
    .sources-list {
        color: $gray-light;
        float: right !important;
        font-style: italic;
    }
    .quantity {
        font-size: 150%;
        font-weight: bold;
        font-style: italic;
    }
    .ingredients-list {
        ul {
            padding-left: 15px;
        }
    }
}   


