body {
    background: #EEE;
    color: #555555;
    margin: 20px 5px;

    > .container {
        min-height: 900px;
    }
}

footer {
    background-color: #f5f5f5;
    margin-top: 60px;
    .text-muted {
        margin: 20px 0;
    }
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    legend {
        border-bottom-color: #df0018;
    }
}

h1 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: #333333;
    font-size: 2em;
    font-family: 'Sansation-Bold', Arial, sans-serif;
    font-weight: normal;
}

.mce-fullscreen nav.navbar {
    display: none;
}

.navbar-inverse .navbar-nav > li > a.btn-success {
    color: white;
    &:hover {
        background-color: #449d44;
        border-color: #398439;
    }
}

/*.page {
    margin-top: 55px;
}*/

div.Tokenize {
    width: 100%;
    ul.TokensContainer {
        height: auto;
    }
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

/* add required field asterisk */
label.required:after {
    content: " *";
}
.with-shadow {
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px #999999;
    background: #FFF;
}


header.with-shadow {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 10px;
}

article.with-shadow {
    padding: 20px;
}

.index-page {
    article {
        .btn-group {
            padding-right: 15px;
        }
    }
}

.buttons {
    margin-bottom: 10px;
}

.bgc {
    background-color: #EEE;
}

.rounded {
    padding: 15px;
    border-radius: 10px;
}

