<div class="category-page edit-page form-page">
  <div class="page-header">
    <%= back_button categories_path %>
    <h1><%= I18n.t( 'categories.edit_page_title' ) %></h1>
  </div>
  <%= render 'form' %>
</div>
