<div class="category-page new-page form-page">
  <div class="page-header">
    <%= back_button categories_path %>
    <h1><%= I18n.t( 'categories.new_page_title' ) %></h1>
  </div>

  <%= render 'form' %>
</div>
