<div class="is-pulled-right" data-controller="application--elements--delete--delete">
  <button class="<%= css_class %>" data-action="click->application--elements--delete--delete#close"></button>
</div>