<section>
  <div class="media mb-5">
    <figure class="media-left">
      <p class="image is-128x128">
        <%= image_tag object.picture.url(:medium) %>
      </p>
    </figure>
    <div class="media-content">
      <h1 class="title">
        <div class="title is-size-1 <%= css_book_color %>"><%= object %></div>
      </h1>
      <% if object.description %>
        <h2 class="subtitle">
          <%= render(Application::Elements::MarkdownComponent.new(text: object.description)) %>
        </h2>
      <% end %>
    </div>
  </div>
</section>