<section class="mt-5">
  <div class="columns is-multiline is-centered">
    <% if categories.render? %>
      <div class="column is-narrow">
        <%= render(categories) %>
      </div>
    <% end %>
  </div>
</section>