<% object.book_categorizations.each do |categorization| %>
  <% tag_list = Application::Elements::CategoryTagListComponent.new(
    categories: object.categories.select { |c| c.categorization == categorization },
    extra_categories: object.additional_categories.select { |c| c.categorization == categorization }
  ) %>
  <% if tag_list.render? %>
    <p class="subtitle"><%= categorization %></p>
    <%= render tag_list %>
  <% end %>
<% end %>