<% unless object.quantity.blank? %>
  <p class="title has-text-gray"><%= object.quantity %></p>
<% end %>
<div class="content">
  <%= render(Application::Elements::MarkdownComponent.new(text: object.ingredients)) %>
</div>