<section class="mb-5">
  <p class="title"><%= Recipe.human_attribute_name('suggestions') %></p>
  <div class="content">
    <div class="tags has-addons">
      <a class="tag is-primary"><%= Recipe.human_attribute_name('wine') %></a>
      <a class="tag is-delete"><%= object.wine %></a>
    </div>
  </div>
</section>