<section class="mt-5">
  <div class="box">
    <p class="title"><%= Recipe.human_attribute_name('times') %></p>
    <div class="content">
      <%= simple_format(object.times) %>
    </div>
  </div>
</section>