<%= turbo_frame_tag "#{dom_id(object)}_classification" do %>
  <% %w"related_tree related_tree_by related related_by".map { |c| "#{c}_categories" }.each do |relation| %>
    <%= render Categories::Classification::ManageListComponent.new(object: object, relation: relation, related_objects: object.send(relation)) %>
  <% end %>

  <% %w"extra_related".map { |c| "#{c}_categories" }.each do |relation| %>
    <%= render Categories::Classification::TagListComponent.new(relation: relation, related_objects: object.send(relation)) %>
  <% end %>

  <% %w"suggested suggested_by".map { |c| "#{c}_categories" }.each do |relation| %>
    <%= render Categories::Classification::ManageListComponent.new(object: object, relation: relation, related_objects: object.send(relation)) %>
  <% end %>
<% end %>
</div>