<li data-id="<%= object.id %>">
  <div class="tags has-addons are-medium mb-2">
    <span class="tag is-gray"><%= object.categorization %> / <%= object %></span>
    <% if add_delete %><a class="tag is-delete id-dark"></a>
    <% end %>
  </div>
</li>