<div class="block">
  <h3 class="title is-4"><%= Category.human_attribute_name(relation) %></h3>
  <div class="tags are-small">
    <%= render(Categories::Classification::TagComponent.with_collection(related_objects)) if related_objects? %>
    <%= t('application.no_entry') unless related_objects? %>
  </div>
</div>